
ul{
  margin-top:0;
  padding:0;
  display: flex;
  justify-content:center;
  align-items:center;
  height:80vh;
}

ul{
  margin:0;
  padding:0;
  display:flex;
}

ul li{
  list-style:none;
  margin:0 40px;
  transition:0.5s;
}

ul li a{
  display: block;
  position:relative;
  text-decoration:none;
  padding:5px;
  font-size:25px;
  font-family: sans-serif;
  color:#fff;
  text-transform:uppercase;
  transition:0.5s;
  margin-top:-300px;
}

ul:hover li a{
  transform:scale(1.5);
  opacity:0.2;
  filter:blur(5px);
}

ul li a:hover{
  transform:scale(2);
  opacity:1;
  filter:blur(0);
  text-decoration:none;
  color:#fff;
}

ul li a:before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#ff497c;
  transition:0.5s;
  transform-origin:right;
  transform:scaleX(0);
  z-index:-1;
}

ul li a:hover:before{
  transition:transform 0.5s;
  transform-origin:left;
  transform:scaleX(1);
}

.container{
  height:700px;
  width:700px;
  background-image:url("https://yt3.googleusercontent.com/MEe9RzP3V8oAb23N14A--WyMerq35ZUhZa0Tl9MSbbgIQIHiqv-obPL0N6DVfD8evH5lbCI7=s176-c-k-c0x00ffffff-no-rj");
  background-size:cover;
  margin-top:-500px;
  display:inline-block;
  margin-right:40px;
  border-radius:30%;
}

footer{
  margin-top:170px;
  background-color:black;
  }

.copyright{
  height:400px;
  width:1600px;
  color:white;
  letter-spacing:5;
  line-height:2;
  font-family:Georgia;
  font-size:27px;
  font-weight:300;
}

.copyright:hover{
  color:pink;
}
